body
{
    height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}
.navbar
{
    height: 18%;
    box-shadow: 0px 1px 5px  black;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logo
{
    width: 20%;
    height: 100%;
    background-image: url(image/LOGO-02.png);
    background-size: cover;
    background-position: center;
    position: absolute;
 

}
a{
    right: -50%;
    text-decoration: none;
    margin: 0px 10px;
    position: relative;
    top: 30px;
    font-size: x-large;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    
}
a::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0px;
    height: 2px;
    background-color: rgb(255, 0, 0);
    transition: width 0.2s ease-out;
    border-radius: 2px;

}

a:hover::after{
    width: 100%;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.055);
    padding: 37px 0;
    transition: 1s;
    position: relative;
}
.section1{
    height: 90vh;
}
.ima-sec-1{
    width: 50%;
    height: 90%;
    
    position: relative;
}
.engine1{
    height: 200px;
    width: 200px;
    background-image: url(image/engineering_127px.png);
    background-size: cover;
    background-position: center;
    animation: rotate 3s;
    position: absolute;
    left: 35%;
    top: 35%;
    transform: rotate(40deg);
    animation: rotate 15s infinite;
}
.engine2{
    height: 200px;
    width: 200px;
    left: 20%;
    top: 10%;
    background-image: url(image/engineering_127px2.png);
    background-size: cover;
    position: absolute;
    animation: rotate2 15s  infinite ;
}
@keyframes rotate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
   
}
@keyframes rotate{
    0%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(400deg);
    }
   
}
.text-sec-1{
    width: 50%;
    height: 70%;
    left: 40%;
    top: 20%;
    position: absolute;
  
    box-shadow: -1px 0px 30px 2px rgba(0, 0, 0, 0.301);
    text-justify:none;

}
.text-sec-1 h3{
    margin: 20px;
}
.text-sec-1 h1{
    text-align: center;
    position: relative;
    top: 2%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: #421496;
}

.INFO{

    position: absolute;
    top: 30%;
}

.section2{
    height: 80vh;
    background-color: #28096381;
    position: relative;
}
.ima-sec-2{
    width: 50%;
    height: 50%;  
    position: relative;
    right: -50%;
    top: 20%;
    background-image: url(image/7198180.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.text-sec-2{
    width: 40%;
    height: 40%;
    left: 5%;
    top: 35%;
    position: absolute;
    text-justify:none;
    color: white;
    padding-right: 150px;
    border-right: 1px dotted white;
}
h3 span{
    color: #421496;
}

.section3{
    height: 90vh;
    position: relative;
}
.article{
    position: absolute;
    width: 20%;
    height: 60%;
    box-shadow: -1px 0px 30px 2px rgba(0, 0, 0, 0.301);
    border-radius: 5%;
}
.article1{
    position: absolute;
    left: 4%;
}
.article1 .image{
    background-image: url(image/1.png);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.article1 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article2{
    position: absolute;
    left: 27%;
}
.article2 .image{
    background-image: url(image/2.png);
    width: 100%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.article2 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article3{
    position: absolute;
    left: 50%;
}
.article3 .image{
    background-image: url(image/3.png);
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.article3 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article4{
    position: absolute;
    left: 73%;
}
.article4 .image{
    background-image: url(image/4.png);
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}
.article4 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article5{
    position: absolute;
    left: 4%;
    top:  75%;
}
.article5 .image{
    background-image: url(image/5.png);
    width: 100%;
    height: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.article5 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article6{
    position: absolute;
    left: 27%;
    top:  75%;
}
.article6 .image{
    background-image: url(image/6.png);
    width: 100%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat ;
}
.article6 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}
.article7{
    position: absolute;
    left: 50%;
    top:  75%;
}
.article7 .image{
    background-image: url(image/7.png);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.article7 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article8{
    position: absolute;
    left: 73%;
    top:  75%;
}
.article8 .image{
    background-image: url(image/8.png);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.article8 .description{
    position: absolute;
    top: 50%;
    margin: 0 15px;
}

.article:hover
{
    transition: 0.5s;
    transform: scale(1.07);
    border: #421496 1px solid;
    box-shadow: 0 3px 0 1px #421496 ;
    cursor: pointer;
}